body {
  background-image: url("../img/airline.jpg");
  background-size: cover;
  color: white;
  font-family:sans-serif;
  font-size: 12px;
}
.header{
  width: 50%;
  background-color: #193A55;
  margin: -10px auto 0 -10px;
  border-bottom: 1px solid white;
}
.size {
  margin-left: 80px;
}
.nav {
  text-align: center;
  width: 50%;
  background-color: #193A55;
  float:right;
  margin: -85px -10px 0 0;
  padding: 30px 0 36px 20px;
  border-bottom: 1px solid white;
}
a:visited{
  color: white;
}
a:hover {
  color: green;
}
button {
  background-color: #018D80;
  border-radius: 5px;
  padding: 5px 50px;
  margin-right: -10px;
  border: 1px solid white;
}
button:focus{
  background-color: #0063B7;
}
input{
  background-color: #193A55;
  border-radius: 5px;
  color: gray;
  padding: 10px 20px 10px 10px;
  border: 2px solid white;
}
.content {
  margin: 7% 0 0 5%;
  position: absolute;
}
.tcont {
  width: 375px;
  margin-left: 2px;
}
.mcont {
  width:365px;
  height: 250px;
  text-align: center;
  margin-left: 10px;
  word-spacing: 20px;
  padding-top: 30px;
  border-radius: 5px;
  background-color: #193A55;
}
.mtcont {
  padding-bottom: 20px;
}
.mbcont {
  padding-bottom: 20px;
}
.mbcont > input {
  color: white;
}
.b1cont {
  margin-left: -10px;
}
h4 {
  display: inline;
  font-weight: lighter;
}
select {
  height: 45px;
  background-color: #193A55;
  color: white;
  border: 1px solid white;
}
.b2cont {
  text-align: center;
}
.b2cont > button {
  background-color: #0063B7;
  margin-top: 20px;
  padding: 5px 125px 5px 125px;
}
.b2cont > button > h3{
  color: white;
  font-weight: lighter;
}
.container {
    display: inline;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: white;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked~ .checkmark:after{
    display: block;
}
.container .checkmark:after {
 	top: 3px;
	left: 3px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: gray;
}
