body {
  background-image: url("../img/airline.jpg");
  background-size: cover;
  color: white;
  font-family:sans-serif;
  font-size: 12px;
}
.header{
  position:relative;
  margin: 15px;
  border: 1px white solid;
}
.nav {
  width: 50%;
  margin: -75px auto 5px 0;
  float: right;
}
ul:hover {
  color: green;
}
