.normtxt {           /*comfortable way of setting font*/
  font-style: normal;
  font-weight: lighter;
}
.xspace {            /*Deletes spaces between elements*/
  margin: 0;
  padding: 0;
}
.right {             /*comfortable way of moving texts*/
  float:right;
  vertical-align: top;
}
.blockdeco {
  border: solid;
  border-style: inset;
  background-position: left;
  background-color: pink;
}
body{
  background-color: yellowgreen;
  font-style: italic;
}
body > header {
  text-align: center;
  color:brown;
}
body > main > nav {
  text-align: center;
}
