body {
  height: 850px;
  margin: 0 auto;
}
.size{
  width: 800px;
  height: 500px;
}
.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 40px;
}
.tom {
  margin-left: 40px;
}
.tom h1 , .tom h3{
  font-family: sans-serif;
  font-weight: lighter;
}
.tom a {
  background-color: #4D4D4D;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: lighter;
}
.stories {
  height:300px;
  width:400px;
  margin-left: 30px;
}
.stories h3 {
  font-family: sans-serif;
  font-weight: bolder;
}
